<br/>
<h2>{{ title }}</h2>
<hr/>
<div class="row">
    <div class="large-6 columns">
        <p><strong>City Name:</strong> {{ myCurrentWeather.cityName }}</p>
        <p><strong>Current Temp:</strong> {{ myCurrentWeather.temp }}</p>
        <div class="img">
            <img src="{{ myCurrentWeather.icon }}">
        </div>
        <p><strong>Current Weather:</strong> {{ myCurrentWeather.weatherKind }}</p>
        <p><strong>Max Temp:</strong> {{ myCurrentWeather.tempMax }}</p>
        <p><strong>Min Temp:</strong> {{ myCurrentWeather.tempMin }}</p>
    </div>
</div>
