<h1>Ten Day Forecast</h1>
<div class="row">
  <div class="large-6 columns">
      <h2>Name of City</h2>
      <h2>Temperature</h2>
      <h4>Kind of Temperature</h4>
      <h5>Max</h5>
      <h5>Min</h5>
  </div>
  <div class="large-6 columns">
    <h2>Name of City</h2>
    <h2>Temperature</h2>
    <h4>Kind of Temperature</h4>
    <h5>Max</h5>
    <h5>Min</h5>
</div>
<div class="large-6 columns">
  <h2>Name of City</h2>
  <h2>Temperature</h2>
  <h4>Kind of Temperature</h4>
  <h5>Max</h5>
  <h5>Min</h5>
</div>
<div class="large-6 columns">
  <h2>Name of City</h2>
  <h2>Temperature</h2>
  <h4>Kind of Temperature</h4>
  <h5>Max</h5>
  <h5>Min</h5>
</div>
</div>
